/* GENERAL */
html {
	background-color: #000;
}

/* NAVIGATION */
#navbar {
	width: 100%;
	height: 64px;
	background-color: #fff;
	display: flex;
	justify-content: space-between;
}

.brand {
	display: flex;
	margin-left: 24px;
	align-items: center;
}

.menu {
	display: flex;
	align-items: center;
	margin-right: 24px;
}

.menu li {
	margin-left: 16px;
}

.truncated-menu {
	display: none;
}

/* Mobile responsive design */
@media only screen and (max-width: 768px) {
	.brand {
		display: none;
	}

	.menu {
		display: none;
	}

	.truncated-menu {
		width: 100%;
		height: 64px;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
}

/* BANNER */
#banner {
	background-color: rgb(219, 219, 219);
	display: flex;
	padding: 0 1.5rem;
}

#banner .image {
	border-right: none;
	overflow: hidden;
}

#banner .content {
	justify-content: center;
}

#banner h3 {
	padding-bottom: 2rem;
	font-size: 2rem;
}

#banner p {
	padding-bottom: 1.5rem;
}

#banner a {
	padding: .5rem 0;
	text-align: center;
}

/* Mobile responsive design */
@media only screen and (max-width: 768px) {
	#banner {
		padding: 0;
		flex-direction: column; 
	}

	#banner .image {
		width: auto;
		padding: 0;
	}

	#banner .content {
		padding: 2rem 1rem;
		width: auto;
	}
}