/* GENERAL */
html {
	font-size: 16px;
}

/* NAVIGATION */
#navbar {
	width: 100%;
	height: 64px;
	background-color: #fff;
	display: flex;
	justify-content: space-between;
}

.brand {
	display: flex;
	margin-left: 24px;
	align-items: center;
}

.menu {
	display: flex;
	align-items: center;
	margin-right: 24px;
}

.menu li {
	margin-left: 16px;
}

.truncated-menu {
	display: none;
}

@media only screen and (max-width: 768px) {
	.brand {
		display: none;
	}

	.menu {
		display: none;
	}

	.truncated-menu {
		width: 100%;
		height: 64px;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
}

/* BANNER */
#banner {
	background-color: rgb(219, 219, 219);
	display: flex;
	padding: 0 1.5rem;
}

#banner .image {
	border-right: none;
	overflow: hidden;
}

#banner .content {
	justify-content: center;
}

#banner h3 {
	padding-bottom: 2rem;
	font-size: 2rem;
}

#banner p {
	padding-bottom: 1.5rem;
}

#banner a {
	padding: .5rem 0;
	text-align: center;
}

@media only screen and (max-width: 768px) {
	#banner {
		padding: 0;
		flex-direction: column; 
	}

	#banner .image {
		width: auto;
		padding: 0;
	}

	#banner .content {
		padding: 2rem 1rem;
		width: auto;
	}
}

/* INFORMATION */
#info {
	display: flex;
	padding: 0 1.5rem;
}

#info .left h3 {
	padding-top: 2rem;
	padding-bottom: 1.5rem;
	font-size: 1.5rem;
}

#info .right {
	justify-content: space-between
}

#info .content-box {
	display: flex;
	padding: 1rem 0 1rem 1rem;
	border-bottom: 1px solid rgb(245, 245, 245);
}

#info .content-box:first-child {
	padding-top: 0;
}

#info .content-box:last-child {
	padding-bottom: 0;
	border-bottom: none;
}

#info .content-box .media {
	width: 35%;
}

#info .content-box .text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 65%;
	padding: 0 0.75rem 0 1rem;
}

#info .content-box h4 {
	padding-bottom: .5rem;
	font-size: 1.25rem;
	font-weight: bold;
}

#info .content-box p {
	padding-bottom: .5rem;
}

#info .content-box .mobile {
	display: none;
}

@media only screen and (max-width: 768px) {
	#info {
		padding: 0 1rem; 
	}

	#info .left {
		display: none;
	}

	#info .right {
		width: 100%;
	}

	#info .right .content-box {
		flex-direction: column;
	}

	#info .text {
		max-width: 14rem;
		padding: 1rem;
	}

	#info .content-box .desktop {
		display: none;
	}

	#info .content-box .mobile {
		display: block;
	}

	#info .content-box {
		padding-left: 0;
		border-bottom: none;
	}

	#info .content-box .media {
		width: 100%;
	}
}

/* COURSES */
#courses {
	padding: 2rem 3.5rem;
	background-color: rgb(245, 245, 245);
}

#courses .row {
	display: flex;
}

#courses .course {
	flex-basis: 33%;
	margin: 1rem;
	background-color: #fff;
}

#courses .course .media {
	overflow: hidden;
}

#courses .course .media img {
	display: block;
	width: 100%;
}

#courses .course .text {
	padding: 1rem 1rem 1.5rem 1rem;
}

#courses .course h3,
#courses .course h4 {
	padding-bottom: .5rem;
}

@media only screen and (max-width: 768px) {
	#courses {
		padding: 2rem 1rem;
		background-color: inherit;
	}

	#courses .row {
		flex-direction: column;
	}

	#courses .course {
		margin: .25rem 0;
	}

	#courses .course .text {
		background-color: rgb(216, 216, 216);
	}

	#courses .course h3 {
		padding-bottom: 0;
	}

	#courses .course .media,
	#courses .course h4,
	#courses .course p {
		display: none;
	}
}