/* GENERAL */
html {
	background-color: #000;
}

/* NAVIGATION */
#navbar {
	width: 100%;
	height: 64px;
	background-color: #fff;
	display: flex;
	justify-content: space-between;
}

.brand {
	display: flex;
	margin-left: 24px;
	align-items: center;
}

.menu {
	display: flex;
	align-items: center;
	margin-right: 24px;
}

.menu li {
	margin-left: 16px;
}

.truncated-menu {
	display: none;
}

/* Mobile responsive design */
@media only screen and (max-width: 768px) {
	.brand {
		display: none;
	}

	.menu {
		display: none;
	}

	.truncated-menu {
		width: 100%;
		height: 64px;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
}

/* BANNER */
#banner {
	background-color: lightgray;
	width: 100%;
	display: flex;
}

#banner .image {
	margin: 32px 24px;
	width: 60%;
}

#banner .content {
	display: flex;
	align-items: center;
}

/* Mobile responsive design */
@media only screen and (max-width: 768px) {
	#banner {
		display: flex;
		flex-direction: column; 
	}

	#banner .image {
		margin: 0;
		width: 100%;
	}

	.truncated-menu {
		width: 100%;
		height: 64px;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
}